$cd-btn-start: #4b0a6a;
$cd-btn-end:#a14ed3;
$cd-txtvert: #1f9999;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-txtviolet: #6300a0;

html {
    font-size: 36%;
}
body{
    margin:0;
}
.plop{
    height:7rem;
    }
.hautdepage, #footer {
    background-image: url("img/gears.png");


    &__logo {
        /*transition-property: transform;
    transition-duration: 4000ms;*/
        float: left;
        animation: rotateAnim 20s ease-in-out infinite;
        padding: 2rem;
       & img{  width:24rem;
         height:22rem;
        @media (max-width: 800px) {
              width:15rem;
              height:15rem;
    }}
  }

    &__menu {
        display: flex;
        justify-content: space-around;
        text-align: center;


        & li{
            color: white;
            text-decoration: none;
            list-style-type: none;
        }

        &__btn {
            background: $cd-btn-start;
            color: $cd-txtviolet;
            font-size: 2rem;
            /*cursor: pointer;*/
            padding: 1rem 1rem;
            border-radius: 5rem;
            transform: scale(1);
            transition: transform 1000ms, background 500ms;
            transition-delay: 0, 500ms;
            width: 20rem;
            margin-bottom: 5rem;
            margin-top: 5rem;

            &:hover {
                transform: scale(1.25);
                background:$cd-btn-end;
            }
            /*&:active{
                background-color:$cd-txtvert;
            }*/
        }
    }

    &__cadreopaque {
        background-color: rgba(28, 26, 26, 0.88);
        margin-left: 35rem;
        border-radius: 5rem;
        margin-right: 7rem;
    }

    & h2 {
        font-size: 4rem;
        color: $cd-txtvert;
        padding-bottom: 5rem;
        padding-left: 7rem;
    }
}
h1 {
    padding-top: 5rem;
    color: $cd-txtviolet;
    font-size: 6rem;
    padding-left: 7rem;
    margin: 0;
}

    @keyframes rotateAnim {
        from {
            transform: rotate(0);

        }

        to {
            transform: rotate(360deg);
        }
    }

.contenu {
    padding: 2rem;
    text-align:justify;

    & p, & a
        {font-size: 2.5rem;
         }


    & h2 {
        color: $cd-txtvert;
        font-size: 3.5rem;
          }
}

.videoflottante
{
    float:right;
    margin-right:2rem;
    margin-left: 2rem ;
}

#Services {
    display: flex;
    justify-content: center;

    &__ip, &__km, &__if, &__digit, &__moodle {
        margin: 2rem;
        justify-content: center;
        text-align: center;

        & a{
            color: $cd-txtviolet;
            text-decoration:none;
          }

      }
    }
  .bton{
    transform:rotate(0deg);
    transition:transform 500ms ease-in-out;
    transform-origin: 50%;
        &:hover {
        transform: rotate(180deg);
              }
        }


#Accueil {
    text-align: justify;

    & li {
        font-size: 2.5rem;
        list-style-type: circle;
        color: $cd-txtviolet;
        padding-right:37rem;
    }
}
.R1{
  display:flex;
  justify-content:space-around;
  text-align:center;

.cadreviolet {
  margin:3rem;
  max-width:55rem;
    }
  & h3{
  background: $cd-btn-start;
  text-align:center;
  font-size: 2rem;
  /*cursor: pointer;*/
  padding: 1rem 1rem;
  border-radius: 5rem;

  & a{
    color:white;
  }
}
  & a{
      color:$cd-txtviolet;
      text-align:center;
      text-decoration:none;
      }
  }
h3{
  &:hover + .tourni {
  transform: scaleY(1);
        }
}
  .tourni{
      transform-origin: 50% top;
      transform: scaleY(0);
      transition: transform 500ms;
      background-color: rgba(28, 26, 26, 0.88);
      padding:2rem;
      color:white;
      border-radius:5rem;

          }

          #Contact, #Contact li, #Contact a {
                  text-align: left;
                  font-size: 2.5rem;
                  list-style-type: circle;
                  color: white;
                  margin:0.5rem;

                }
          #Contact{
              display:flex;
              flex-direction:space-around;

              }
.foot1, .anim-bars, .anim-ball{
  background-color: rgba(28, 26, 26, 0.88);

                    margin-left: 7rem;
                    border-radius: 5rem;
                    padding:2rem;
                    margin-right:30rem;
}


.hautdepage__menu__btn {
  text-align: center;
  & a{
    color: white;
  text-decoration: none;
  list-style-type: none;
}
}
#bl{
  background-image:url("img/blended.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#al{
  background-image:url("img/ip1.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#ml{
  background-image:url("img/Digitalisation.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#as{
  background-image:url("img/ip.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#droit{
  background-image:url("img/droit1.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#tab{
  background-image:url("img/stat1.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#pp{
  background-image:url("img/projet.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#methodo{
  background-image:url("img/ip2.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
#mood{
  background-image:url("img/if2.jpg");
  border-bottom-left-radius:5rem;
  border-bottom-right-radius:5rem;
background-size: contain;
border-top-left-radius:2rem;
border-top-right-radius:2rem;
}
.floterD img{
  float:right;
  max-height:20rem;
  max-width:40rem;
margin-left:4rem;
border-radius:2rem;
}
h3{
  font-size:3.5rem;
  color:$cd-txtviolet;
}
h5{
  font-size:2.52rem;
  font-weight:bold;
}
.pp li{
  font-size:2.5rem;
}

@keyframes bars {
    0% {
        transform: scaleY(0.5);

    }
    100% {
        transform: scaleY(1.0);
    }
}
$size: 3vh;
$anim-dur:1000ms;
$num-bar:7;
$anim-delai:$anim-dur/$num-bar;
.foot2 {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    margin:2rem 5rem 2rem 3rem;

    & .bar {
        background-color:$cd-txtvert;
        height: 100%;
        width: $size;
        animation: bars $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-bar{
          &--#{$i} {
            animation-delay:$anim-delai*$i;
          }
          &--#{$i}-inv{
            animation-delay:$anim-delai*$i + random(100)*15ms;
            animation-direction:alternate-reverse;
            animation-fill-mode:forwards;
            background-color: $cd-txtviolet;
            &:hover{
              animation-play-state:paused;
            }
          }
        }
    }
}
@keyframes balls {
    0% {
        transform: translate(0,0);

    }
    50% {
        transform: translate(10px,10px);
    }
    100% {
        transform: translate(-10px, 20px);
    }
  }
$num-ball:5;
.foot3 {
    width: 80%;
    height: 80%;
    border-radius:5px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;

    & .ball {
        background-color:$cd-txtvert;
        width: 30px;
        height: 30px;
        border-radius:50px;
                animation: balls 3s infinite ease-in-out alternate;
        @for $i from 1 through $num-ball{
          &--#{$i} {
            animation-delay:0.2s*$i;
          }
 }

        }
    }
