html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.plop {
  height: 7rem;
}

.hautdepage, #footer {
  background-image: url("img/gears.png");
}
.hautdepage__logo, #footer__logo {
  /*transition-property: transform;
  transition-duration: 4000ms;*/
  float: left;
  animation: rotateAnim 20s ease-in-out infinite;
  padding: 2rem;
}
.hautdepage__menu, #footer__menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.hautdepage__menu li, #footer__menu li {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
.hautdepage__menu__btn, #footer__menu__btn {
  background: #4b0a6a;
  color: #6300a0;
  font-size: 2rem;
  /*cursor: pointer;*/
  padding: 1rem 1rem;
  border-radius: 5rem;
  transform: scale(1);
  transition: transform 1000ms, background 500ms;
  transition-delay: 0, 500ms;
  width: 20rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  /*&:active{
      background-color:$cd-txtvert;
  }*/
}
.hautdepage__menu__btn:hover, #footer__menu__btn:hover {
  transform: scale(1.25);
  background: #a14ed3;
}
.hautdepage__cadreopaque, #footer__cadreopaque {
  background-color: rgba(28, 26, 26, 0.88);
  margin-left: 35rem;
  border-radius: 5rem;
  margin-right: 7rem;
}
.hautdepage h2, #footer h2 {
  font-size: 4rem;
  color: #1f9999;
  padding-bottom: 5rem;
  padding-left: 7rem;
}

h1 {
  padding-top: 5rem;
  color: #6300a0;
  font-size: 6rem;
  padding-left: 7rem;
  margin: 0;
}

@keyframes rotateAnim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.contenu {
  padding: 2rem;
  text-align: justify;
}
.contenu p, .contenu a {
  font-size: 2.5rem;
}
.contenu h2 {
  color: #1f9999;
  font-size: 3.5rem;
}

.videoflottante {
  float: right;
}

#Services {
  display: flex;
  justify-content: center;
}
#Services__ip, #Services__km, #Services__if, #Services__digit, #Services__moodle {
  margin: 2rem;
  justify-content: center;
  text-align: center;
}
#Services__ip a, #Services__km a, #Services__if a, #Services__digit a, #Services__moodle a {
  color: #6300a0;
  text-decoration: none;
}

.bton {
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
  transform-origin: 50%;
}
.bton:hover {
  transform: rotate(180deg);
}

#Accueil {
  text-align: justify;
}
#Accueil li {
  font-size: 2.5rem;
  list-style-type: circle;
  color: #6300a0;
  padding-right: 37rem;
}

.R1 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cadreviolet {
  margin: 3rem;
}
.cadreviolet h3 {
  background: #4b0a6a;
  text-align: center;
  font-size: 2rem;
  /*cursor: pointer;*/
  padding: 1rem 1rem;
  border-radius: 5rem;
}
.cadreviolet h3 a {
  color: white;
}
.cadreviolet a {
  color: #6300a0;
  text-align: center;
  text-decoration: none;
}

h3:hover + .tourni {
  transform: scaleY(1);
}

.tourni {
  transform-origin: 50% top;
  transform: scaleY(0);
  transition: transform 500ms;
}

#Contact, #Contact li, #Contact a {
  text-align: left;
  font-size: 1.5rem;
  list-style-type: circle;
  color: white;
  margin: 0.5rem;
}

#Contact {
  background-color: rgba(28, 26, 26, 0.88);
  margin-left: 7rem;
  border-radius: 5rem;
  margin-right: 85rem;
  padding: 2rem;
}

.hautdepage__menu__btn {
  text-align: center;
}
.hautdepage__menu__btn a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
