$cd-btn-start: #4b0a6a;
$cd-btn-end:#a14ed3;
$cd-txtvert: #1f9999;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-txtviolet: #6300a0;
@import"./Layout/formulaire";

html {
    font-size: 62.5%;
}
body{
    margin:0;
}
.plop{
    height:7rem;
    }
.hautdepage {
    background-image: url("img/gears.png");


    &__logo {
        /*transition-property: transform;
    transition-duration: 4000ms;*/
        float: left;
        animation: rotateAnim 20s ease-in-out infinite;
        padding: 2rem;
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        text-align: center;

        & li, & a{
            color: white;
            text-decoration: none;
            list-style-type: none;
        }

        &__btn {
            background: $cd-btn-start;
            color: $cd-txtviolet;
            font-size: 2rem;
            /*cursor: pointer;*/
            padding: 1rem 1rem;
            border-radius: 5rem;
            transform: scale(1);
            transition: transform 1000ms, background 500ms;
            transition-delay: 0, 500ms;
            width: 20rem;
            margin-bottom: 5rem;
            margin-top: 5rem;

            &:hover {
                transform: scale(1.25);
                background:$cd-btn-end;
            }
            /*&:active{
                background-color:$cd-txtvert;
            }*/
        }
    }

    &__cadreopaque {
        background-color: rgba(28, 26, 26, 0.88);
        margin-left: 35rem;
        border-radius: 5rem;
        margin-right: 7rem;
    }

    & h2 {
        font-size: 4rem;
        color: $cd-txtvert;
        padding-bottom: 5rem;
        padding-left: 7rem;
    }
}
h1 {
    padding-top: 5rem;
    color: $cd-txtviolet;
    font-size: 6rem;
    padding-left: 7rem;
    margin: 0;
}

    @keyframes rotateAnim {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }

    


.contenu {
    padding: 2rem;
    text-align:justify;

    & p, & a 
        {font-size: 2.5rem;
         }
    

    & h2 {
        color: $cd-txtvert;
        font-size: 3.5rem;
          }
}

.videoflottante
{
    float:right;
}

#Services {
    display: flex;
    justify-content: center;

    &__ip, &__km, &__if, &__digit, &__moodle {
        margin: 2rem;
        justify-content: center;
        text-align: center;

        & a {
            color: $cd-txtviolet;
            text-decoration:none;
        }
    }
}
#Accueil {
    text-align: justify;

    & li {
        font-size: 2.5rem;
        list-style-type: circle;
        color: $cd-txtviolet;
        padding-right:37rem;
    }
}